<div class="page_title_block pb10">
  <div class="container">
    <h1 class="title">Etterlengtet oppdatering</h1>
  </div>
</div>
<div class="container">
  <div class="content_block row no-sidebar">
    <div class="fl-container span12">
      <div class="row">
        <div class="posts-block span12">
          <div class="contentarea">
            <div class="row">
              <div class="span12 module_blog_page">
                <div class="blog_post_page">
                  <section class="listing_meta"> <span>2025-10-06</span> </section>
                  <div class="blog_post_content">
                    <article class="contentarea">
                    <p><strong>Her kommer (endelig :D) en etterlengtet oppdatering med siste nytt fra oss:</strong></p>
<p><br /></p>
<p>Først og fremst: Vi har laget en ny forestilling! <em>En reise i elementene</em> - en interaktiv sanseforestilling for de aller yngste. Forestillingen tar barna med på en rytmisk ferd gjennom elementene: fra ild til luft, og fra jord til vann. &#128293; &#128168; &#127807; &#128167; Så langt har vi (blant annet) rukket å spille ved 20-årsjubileumsfesten til Storhaug åpen barnehage, i Smiodden åpen barnehage, ved 50-års jubileet til Haugtussa borettslag og på Sølvbergets Sommerbibliotek i Kvernevik. Les mer om  <em>En reise i elementene</em> <a href="https://www.xn--teaterndsverk-ufb.no/enreiseielementene.html"><strong>her</strong></a>.</p>
<p><br /></p>
<p>En annen stor og gledelig nyhet: Vi har blitt en del av støttenettverket til <a href="https://stavangerunlimited.no"><strong>Stavanger Unlimited</strong></a>, og det er vi utrolig takknemlige for! Stavanger Unlimited er en del av Stavanger kommunes områdesatsing som jobber for å skape gode nærmiljø og støtter ildsjeler med ideer om hvordan man kan skape positive endringer og løse sosiale utfordringer i lokalsamfunnet. Vi har stor tro på teaterets samlende kraft, og vi håper med denne støtten å bruke scenekunst som verktøy for å skape tilhørighet, fellesskap og inspirasjon i Kvernevik bydel. Målet er å gi barn og unge en stemme, og samtidig utvikle møteplasser på tvers av generasjoner der både yngre og eldre kan delta og oppleve mestring.</p>


                    </article>
                  </div>
                  <section class="blog_post-footer">
                  <div class="blogpost_share">
                    <a rel="nofollow" class="share_facebook" href="http://www.facebook.com/sharer/sharer.php?u=https%3A//www.xn--teaterndsverk-ufb.no/posts/etterlengtetoppdatering.html" target="_blank"><i class="stand_icon fa fa-facebook-square"></i></a>
                    <a rel="nofollow" class="share_pinterest" href="http://www.pinterest.com/pin/create/button/?url=https%3A//www.xn--teaterndsverk-ufb.no/posts/etterlengtetoppdatering.html" target="_blank"><i class="stand_icon fa fa-pinterest"></i></a>
                    <a rel="nofollow" class="share_tweet" href="https://twitter.com/intent/tweet?url=https%3A//www.xn--teaterndsverk-ufb.no/posts/etterlengtetoppdatering.html" target="_blank"><i class="stand_icon fa fa-twitter"></i></a>
                    <a rel="nofollow" class="share_gplus" href="https://plus.google.com/share?url=https%3A//www.xn--teaterndsverk-ufb.no/posts/etterlengtetoppdatering.html" target="_blank"><i class="stand_icon fa fa-google-plus-official"></i></a>
                    <div class="clear"></div>
                  </div>
                  <div class="clear"></div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>