<div class="page_title_block pb10">
  <div class="container">
    <h1 class="title">PREMIERE på «Teno & Stouch & den rare Shakespeare»</h1>
  </div>
</div>
<div class="container">
  <div class="content_block row no-sidebar">
    <div class="fl-container span12">
      <div class="row">
        <div class="posts-block span12">
          <div class="contentarea">
            <div class="row">
              <div class="span12 module_blog_page">
                <div class="blog_post_page">
                  <section class="listing_meta"> <span>2019-09-03</span> </section>
                  <div class="blog_post_content">
                    <article class="contentarea">
                    <p>
<div class="blog_post_image"><img alt="Teno &amp; Stouch &amp; den rare Shakespeare" src="/uploads/images/Eventbilde.png" title="Teno &amp; Stouch &amp; den rare Shakespeare" /></div>
</p>
<p><strong>«Teno &amp; Stouch &amp; den rare Shakespeare» er en leken teaterforestilling som introduserer William Shakespeare og et lite knippe av hans verker til barn og unge.</strong></p>
<p><br /></p>
<p><em>Klovnen Teno er usikker og engstelig. Usikker på seg selv og sine klovnetriks. Klovnen Stouch er en superselvsikker superklovn. Showet er i gang, men så! Plutselig begynner sirkusets pidestall å lage noen rare og merkelig lyder… Stouch stuper nedi og Teno står alene igjen på scenen. Hvor har Stouch blitt av? Og hva eller hvem gjemmer seg egentlig inni pidestallen? Bli med når Teno trosser sin frykt for det ukjente og reiser gjennom Shakespeares univers på søken etter sin venn!</em></p>
<p><br /></p>
<ul>
<li>Idé/konsept og medvirkende: Kine Marie Øglend og Anne-Marie Adriansen</li>
<li>Regikonsulent og medmanusforfatter: Ingvild Lien</li>
<li>Lysdesigner og tekniker: Ole André Egge</li>
<li>Lyddesigner: Christopher Rygh</li>
</ul>
<p><br /></p>
<p>Forestillingen spilles i Kjelleren på Sølvberget fredag 6. september kl. 19 og lørdag og søndag 7. og 8. september kl. 13. Billetter kan forhåndsbestilles ved å ta kontakt på teater.aandsverk@gmail.com eller kjøpes ved inngang. Vipps el. kontant. Vipps: søk #566004 eller Teater Åndsverk under &laquo;Kjøp og betal&raquo;. Billettpris: 150 NOK. Forestillingen passer for barn fra 6-12 år.</p>
<p><br /></p>
<p>Takk til: Terje Øglend, Sunde IL, Bygg- og anleggsteknikk-linjen ved Godalen vgs., Denise Aastrøm, Kjetil Alsvik, Anne-Lise Henningsen, Sarah Benfaddoul, Erik Bystad, Tone Bjerke og Øyvind Berg.</p>
<p><br /></p>
<p>Støttet av: Stavanger kommune, Sandnes Sparebanks gavefond og Oslo teatersenter.</p>


                    </article>
                  </div>
                  <section class="blog_post-footer">
                  <div class="blogpost_share">
                    <a rel="nofollow" class="share_facebook" href="http://www.facebook.com/sharer/sharer.php?u=https%3A//www.xn--teaterndsverk-ufb.no/posts/premieretenoogstouch.html" target="_blank"><i class="stand_icon fa fa-facebook-square"></i></a>
                    <a rel="nofollow" class="share_pinterest" href="http://www.pinterest.com/pin/create/button/?url=https%3A//www.xn--teaterndsverk-ufb.no/posts/premieretenoogstouch.html" target="_blank"><i class="stand_icon fa fa-pinterest"></i></a>
                    <a rel="nofollow" class="share_tweet" href="https://twitter.com/intent/tweet?url=https%3A//www.xn--teaterndsverk-ufb.no/posts/premieretenoogstouch.html" target="_blank"><i class="stand_icon fa fa-twitter"></i></a>
                    <a rel="nofollow" class="share_gplus" href="https://plus.google.com/share?url=https%3A//www.xn--teaterndsverk-ufb.no/posts/premieretenoogstouch.html" target="_blank"><i class="stand_icon fa fa-google-plus-official"></i></a>
                    <div class="clear"></div>
                  </div>
                  <div class="clear"></div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>