<div class="page_title_block pb10">
  <div class="container">
    <h1 class="title">Støtte fra Sandnes kommune</h1>
  </div>
</div>
<div class="container">
  <div class="content_block row no-sidebar">
    <div class="fl-container span12">
      <div class="row">
        <div class="posts-block span12">
          <div class="contentarea">
            <div class="row">
              <div class="span12 module_blog_page">
                <div class="blog_post_page">
                  <section class="listing_meta"> <span>2020-01-17</span> </section>
                  <div class="blog_post_content">
                    <article class="contentarea">
                    <p>
<div class="float_right" style="float: right">
<div class="blog_post_image"><img alt="Sandnes kommune" src="/uploads/images/Sandneskommune.png" style="width:300px;margin-right:1em" title="Sandnes kommune" /></div>
</div>
</p>
<p><strong>Teater Åndsverk og «Teno &amp; Stouch &amp; den rare Shakespeare» har mottatt støtte fra Sandnes kommune!</strong></p>
<p><br /></p>
<p>Tusen takk til <a href="https://www.sandnes.kommune.no/">Sandnes kommune</a> som ønsker å støtte visninger av «Teno &amp; Stouch &amp; den rare Shakespeare» på Sandnes bibliotek.</p>


                    </article>
                  </div>
                  <section class="blog_post-footer">
                  <div class="blogpost_share">
                    <a rel="nofollow" class="share_facebook" href="http://www.facebook.com/sharer/sharer.php?u=https%3A//www.xn--teaterndsverk-ufb.no/posts/stottesandneskommune.html" target="_blank"><i class="stand_icon fa fa-facebook-square"></i></a>
                    <a rel="nofollow" class="share_pinterest" href="http://www.pinterest.com/pin/create/button/?url=https%3A//www.xn--teaterndsverk-ufb.no/posts/stottesandneskommune.html" target="_blank"><i class="stand_icon fa fa-pinterest"></i></a>
                    <a rel="nofollow" class="share_tweet" href="https://twitter.com/intent/tweet?url=https%3A//www.xn--teaterndsverk-ufb.no/posts/stottesandneskommune.html" target="_blank"><i class="stand_icon fa fa-twitter"></i></a>
                    <a rel="nofollow" class="share_gplus" href="https://plus.google.com/share?url=https%3A//www.xn--teaterndsverk-ufb.no/posts/stottesandneskommune.html" target="_blank"><i class="stand_icon fa fa-google-plus-official"></i></a>
                    <div class="clear"></div>
                  </div>
                  <div class="clear"></div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>