<div class="page_title_block pb10">
  <div class="container">
    <h1 class="title">Kurs i Skuespillerteknikk i oktober</h1>
  </div>
</div>
<div class="container">
  <div class="content_block row no-sidebar">
    <div class="fl-container span12">
      <div class="row">
        <div class="posts-block span12">
          <div class="contentarea">
            <div class="row">
              <div class="span12 module_blog_page">
                <div class="blog_post_page">
                  <section class="listing_meta"> <span>2018-09-08</span> </section>
                  <div class="blog_post_content">
                    <article class="contentarea">
                    <p>
<div class="blog_post_image"><img alt="Teaterhelg" src="/uploads/images/Teaterhelg.jpg" title="Teaterhelg" /></div>
</p>
<h5>Teater Åndsverk holder kurs i Skuespillerteknikk for unge, lovende Skuespillerspirer under <a href="http://rogaland-teaterrad.web13.cpanel.guru/2018/08/30/teaterhelg-for-ungdom-27-28-10-2018/"><code>Rogaland Teaterråds Teaterhelg</code></a> for ungdom 27.-28. oktober. Vi gleder oss stort!</h5>


                    </article>
                  </div>
                  <section class="blog_post-footer">
                  <div class="blogpost_share">
                    <a rel="nofollow" class="share_facebook" href="http://www.facebook.com/sharer/sharer.php?u=https%3A//www.xn--teaterndsverk-ufb.no/posts/teaterkurs.html" target="_blank"><i class="stand_icon fa fa-facebook-square"></i></a>
                    <a rel="nofollow" class="share_pinterest" href="http://www.pinterest.com/pin/create/button/?url=https%3A//www.xn--teaterndsverk-ufb.no/posts/teaterkurs.html" target="_blank"><i class="stand_icon fa fa-pinterest"></i></a>
                    <a rel="nofollow" class="share_tweet" href="https://twitter.com/intent/tweet?url=https%3A//www.xn--teaterndsverk-ufb.no/posts/teaterkurs.html" target="_blank"><i class="stand_icon fa fa-twitter"></i></a>
                    <a rel="nofollow" class="share_gplus" href="https://plus.google.com/share?url=https%3A//www.xn--teaterndsverk-ufb.no/posts/teaterkurs.html" target="_blank"><i class="stand_icon fa fa-google-plus-official"></i></a>
                    <div class="clear"></div>
                  </div>
                  <div class="clear"></div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>