<div class="page_title_block pb10">
  <div class="container">
    <h1 class="title">EN REISE I ELEMENTENE</h1>
  </div>
</div>

<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>
<p>
<div class="blog_post_image"><img alt="En reise i elementene" src="/uploads/images/erie1.png" title="En reise i elementene" /></div>
</p>
<p><br /></p>
<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>
<blockquote>
<h4>Hvordan kan man synge ild? Hører du vinden som suser? Kan du kjenne rytmen til jorda? Hvordan danser vannet?</h4>
</blockquote>
<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>
<p><em>&laquo;En reise i elementene&raquo; er en interaktiv sanseforestilling som tar barna med på en rytmisk ferd gjennom elementene – fra ild til luft, og fra jord til vann. Med bruk av ulike instrumenter, musikk, sang, dukkespill og fargerike teksturer skapes en nær og sanselig atmosfære av undring og utforskning. Forestillingen foregår i en sirkel, der barna sitter tett på utøverne og fokuset er på fellesskapet i gruppa. Barna lytter, beveger seg og skaper lyd sammen. Målet er å gi barna en berikende opplevelse som inspirerer til nysgjerrighet og kreativitet, og som oppmuntrer dem til å utforske verden rundt seg på en unik måte.</em></p>
<p><br /></p>
<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>
<h4>OM FORESTILLINGEN:</h4>
<p>
<div class="float_left" style="float: left">
<div class="blog_post_image"><img alt="En reise i elementene" src="/uploads/images/erie3.jpg" style="width:300px;margin-right:1em" title="En reise i elementene" /></div>
</div>
<strong>Idé/konsept:</strong> Kine Marie Butler og Anne-Marie Adriansen<br />
<strong>Varighet:</strong> 20 min. // 35 min.<br />
<strong>Målgruppe:</strong> Forestillingen er laget for de aller yngste barna (0–3 år, men fenger også eldre barn). Vi utvikler også en versjon tilpasset barn helt opp til 4. klasse.<br />
Snart vil vi ha to varianter: én for småbarn og én for barn i skolealder.<br />
<strong>Pris:</strong> Ved henvendelse<br />
<strong>Urpremiere:</strong> 04.11.2023, Smiodden åpen barnehage</p>
<p><br /></p>
<p>«En reise i elementene» kan bestilles ved å sende oss en e-post via vårt <a href="https://www.teateråndsverk.no/kontakt.html"><strong>kontaktskjema</strong></a>. 📧</p>
<p><br /></p>
<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>
<h4>SKUESPILLERE:</h4>
<div class="container">
  <div class="content_block row no-sidebar">
    <div class="fl-container span12">
      <div class="row">
        <div class="posts-block span12">
          <div class="contentarea">
            <div class="row">
              <div class="span12 pb40 module_cont module_team">
                <div class="team_slider">
                  <div class="carouselslider teamslider items3">
                    <ul class="item_list">
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img class="portrait" src="/uploads/images/thumbs/Kine.jpg" alt="Kine Marie Butler" />                            </div>
                            <div class="carousel_body">
                              <h6>Kine Marie Butler</h6>
                              <div class="op">Utøver</div>
                              <div class="team_desc"></div>
                              <div class="team_icons_wrapper">
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img class="portrait" src="/uploads/images/thumbs/Anne-Marie.jpg" alt="Anne-Marie Adriansen" />                            </div>
                            <div class="carousel_body">
                              <h6>Anne-Marie Adriansen</h6>
                              <div class="op">Utøver</div>
                              <div class="team_desc"></div>
                              <div class="team_icons_wrapper">
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="clear"></div>
              </div><!-- .module_cont -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>

