<div class="page_title_block pb10">
  <div class="container">
    <h1 class="title">I DE BESTE HJEM</h1>
  </div>
</div>

<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>
<p>
<div class="blog_post_image"><img alt="I de beste hjem" src="/uploads/images/Idebestehjem1.jpg" title="I de beste hjem" /></div>
</p>
<p><br /></p>
<h5><code>En morsom, mørk og ubehagelig forestilling i flue-perspektiv.</code></h5>
<h5><code>I en bygård i hovedstaden møter vi fire forskjellige familier hvor alle har sitt å stri med. Vi får et innblikk i deres hverdagsliv og hvordan omgivelsene påvirker dem på godt og vondt. Hva skjer egentlig innenfor husets fire vegger? Hvor godt kjenner vi våre nærmeste naboer?</code></h5>
<h5><code>I de beste hjem hadde urpremiere 9. desember 2016 på Oslo teatersenter. Nye forestillinger i 2017 blir annonsert her, følg med!</code></h5>
<p><br /></p>
<h3>KUNSTNERISK TEAM:</h3>
<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>
<p><code>Regi og manusforfatter: Kine Marie Øglend</code><br />
<code>Kunstnerisk veileder: Vera Holte</code><br />
<code>Lysdesigner: Jan Ivar Sønsterud, Nittedal-scene</code><br />
<code>Lyddesigner: Christopher Rygh</code><br />
<code>Illustratør: Anne-Marie Adriansen</code><br />
<code>Maskør og fotograf: Denise Aastrøm</code></p>
<div style="height: 1em;" class="clear"></div>

<p><br /></p>
<p>
<div class="blog_post_image"><img alt="I de beste hjem" src="/uploads/images/Idebestehjem3.jpg" title="I de beste hjem" /></div>
</p>
<p><br /></p>
<h3>SKUESPILLERE:</h3>
<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>
<p><br /></p>
<div class="container">
  <div class="content_block row no-sidebar">
    <div class="fl-container span12">
      <div class="row">
        <div class="posts-block span12">
          <div class="contentarea">
            <div class="row">
              <div class="span12 pb40 module_cont module_team">
                <div class="team_slider">
                  <div class="carouselslider teamslider items3">
                    <ul class="item_list">
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img class="portrait" src="/uploads/images/thumbs/StineS.jpg" alt="Stine Sørensen" />                            </div>
                            <div class="carousel_body">
                              <h6>Stine Sørensen</h6>
                              <div class="op">Miriam</div>
                              <div class="team_desc"></div>
                              <div class="team_icons_wrapper">
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img class="portrait" src="/uploads/images/thumbs/StineR.jpg" alt="Stine Randby" />                            </div>
                            <div class="carousel_body">
                              <h6>Stine Randby</h6>
                              <div class="op">Eirin</div>
                              <div class="team_desc"></div>
                              <div class="team_icons_wrapper">
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img class="portrait" src="/uploads/images/thumbs/Frikk.jpg" alt="Frikk Hellvik" />                            </div>
                            <div class="carousel_body">
                              <h6>Frikk Hellvik</h6>
                              <div class="op">Martin</div>
                              <div class="team_desc"></div>
                              <div class="team_icons_wrapper">
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img class="portrait" src="/uploads/images/thumbs/Ellen.jpg" alt="Ellen Kristine Dehle" />                            </div>
                            <div class="carousel_body">
                              <h6>Ellen Kristine Dehle</h6>
                              <div class="op">Elisabeth</div>
                              <div class="team_desc"></div>
                              <div class="team_icons_wrapper">
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img class="portrait" src="/uploads/images/thumbs/Anne-Lise.jpg" alt="Anne-Lise Henningsen" />                            </div>
                            <div class="carousel_body">
                              <h6>Anne-Lise Henningsen</h6>
                              <div class="op">Mona</div>
                              <div class="team_desc"></div>
                              <div class="team_icons_wrapper">
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img class="portrait" src="/uploads/images/thumbs/Tobias.jpg" alt="Tobias Løyning" />                            </div>
                            <div class="carousel_body">
                              <h6>Tobias Løyning</h6>
                              <div class="op">Lars</div>
                              <div class="team_desc"></div>
                              <div class="team_icons_wrapper">
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img class="landscape" src="/uploads/images/thumbs/Simon.jpg" alt=" Simon Solhoff" />                            </div>
                            <div class="carousel_body">
                              <h6> Simon Solhoff</h6>
                              <div class="op">Kenneth</div>
                              <div class="team_desc"></div>
                              <div class="team_icons_wrapper">
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img class="portrait" src="/uploads/images/thumbs/Daniel.jpg" alt="Daniel Edvardsen" />                            </div>
                            <div class="carousel_body">
                              <h6>Daniel Edvardsen</h6>
                              <div class="op">Halvor</div>
                              <div class="team_desc"></div>
                              <div class="team_icons_wrapper">
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img class="portrait" src="/uploads/images/thumbs/Anja.jpg" alt="Anja Maria Svenkerud" />                            </div>
                            <div class="carousel_body">
                              <h6>Anja Maria Svenkerud</h6>
                              <div class="op">Signe</div>
                              <div class="team_desc"></div>
                              <div class="team_icons_wrapper">
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="clear"></div>
              </div><!-- .module_cont -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>

