<p>Ting vi ønsker oss <em>sikle sikle</em> :D</p>
<p>I en slags prioritert rekkefølge&hellip;</p>
<ol>
<li>Bildeoppsett/galleri på medlemssiden à la &laquo;Meet our team&raquo;</li>
<li>En eller to tre-fire-kolonners rekker à la &laquo;Galleri&raquo; som vi kan legge på produksjonssiden (evt. andre steder). Bilder fra produksjonen man kan trykke på og se i større versjon.</li>
<li>Sterkere farge på dividerene, linjen til sitat-blokken og slikt. Svart eller blått? (Mulig det ikke er så fint som jeg ser for meg i drømme, men verdt å prøve!)</li>
<li>Kart til kontakt-siden</li>
<li>Undersider til &laquo;Produksjoner&raquo;</li>
</ol>

