<p>Ting vi ønsker oss <em>sikle sikle</em> :D</p>
<p>I en slags prioritert rekkefølge&hellip;</p>
<ol>
<li><del>Bildeoppsett/galleri på medlemssiden à la &laquo;Meet our team&raquo;</del></li>
<li><del>Fikse det så «tilbake» ikke henger seg opp.</del></li>
<li>En eller to tre-fire-kolonners rekker à la &laquo;Galleri&raquo; som vi kan legge på produksjonssiden (evt. andre steder). Bilder fra produksjonen man kan trykke på og se i større versjon.</li>
<li>Kart til kontakt-siden</li>
<li>Undersider til &laquo;Produksjoner&raquo;</li>
<li>Instagram-widget? Finnes det?</li>
<li>Opplæring i hvordan jeg kan forandre farger i layouten.</li>
</ol>

