<div class="page_title_block pb10">
  <div class="container">
    <h1 class="title">Medlemmer</h1>
  </div>
</div>

<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>
<div class="container">
  <div class="content_block row no-sidebar">
    <div class="fl-container span12">
      <div class="row">
        <div class="posts-block span12">
          <div class="contentarea">
            <div class="row">
              <div class="span12 pb40 module_cont module_team">
                <div class="team_slider">
                  <div class="carouselslider teamslider items3">
                    <ul class="item_list">
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img src="https://www.xn--teaterndsverk-ufb.no/uploads/images/thumbs/Takefolket2.jpg" alt="Morten Minde Neergaard" />
                            </div>
                            <div class="carousel_body">
                              <h6>Morten Minde Neergaard</h6>
                              <div class="op">Webutvikler</div>
                              <div class="team_desc">Morten er en useriøs type som ikke helt vet hva leggetid betyr!</div>
                              <div class="team_icons_wrapper">
                                <a href="https://www.facebook.com/mmneergaard" class="teamlink" title="Facebook"><span><i class="icon-facebook-sign"></i></span></a>
                                <a href="https://www.linkedin.com/in/morten-neergaard-bb35273" class="teamlink" title="LinkedIn"><span><i class="icon-linkedin-sign"></i></span></a>
                                <a href="https://twitter.com/xim_____" class="teamlink" title="Twitter"><span><i class="icon-twitter"></i></span></a>
                                <a href="https://plus.google.com/u/0/+MortenMindeNeergaard" class="teamlink" title="Google+"><span><i class="icon-google-plus-sign"></i></span></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img src="https://www.xn--teaterndsverk-ufb.no/uploads/images/thumbs/Trening1.jpg" alt="Anne-Marie Adriansen" />
                            </div>
                            <div class="carousel_body">
                              <h6>Anne-Marie Adriansen</h6>
                              <div class="op">Skuespiller, regissør og manusforfatter</div>
                              <div class="team_desc">Anne-Marie er en person som absolutt fortjener en beskrivelse.</div>
                              <div class="team_icons_wrapper">
                                <a href="https://www.linkedin.com/pub/anne-marie-adriansen/b0/251/650" class="teamlink" title="LinkedIn"><span><i class="icon-linkedin-sign"></i></span></a>
                                <a href="http://www.imdb.com/name/nm7072874/" class="teamlink" title="IMDb"><span><i class="icon-film"></i></span></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img src="https://www.xn--teaterndsverk-ufb.no/uploads/images/thumbs/Kine.jpg" alt="Kine Mare Øglend" />
                            </div>
                            <div class="carousel_body">
                              <h6>Kine Mare Øglend</h6>
                              <div class="op">Skuespiller, manusforfatter og regissør</div>
                              <div class="team_desc">Kine er utdannet skuespiller fra NISS (Nordisk Institutt for Scene og Studio). Hun spilte Skyld i Tåkefolket og er aktuell med produksjonen I de beste hjem som hun har skrevet og har regien på.</div>
                              <div class="team_icons_wrapper">
                                <a href="https://www.linkedin.com/in/kine-marie-%C3%B8glend-118234b2" class="teamlink" title="LinkedIn"><span><i class="icon-linkedin-sign"></i></span></a>
                                <a href="http://www.imdb.com/name/nm4940636//" class="teamlink" title="IMDb"><span><i class="icon-film"></i></span></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img src="https://www.xn--teaterndsverk-ufb.no/uploads/images/thumbs/Takefolket2.jpg" alt="Anne-Marie Adriansen" />
                            </div>
                            <div class="carousel_body">
                              <h6>Anne-Marie Adriansen</h6>
                              <div class="op">Multikunstner</div>
                              <div class="team_desc">Anne-Marie er en person som absolutt fortjener en beskrivelse.</div>
                              <div class="team_icons_wrapper">
                                <a href="https://www.linkedin.com/pub/anne-marie-adriansen/b0/251/650" class="teamlink" title="LinkedIn"><span><i class="icon-linkedin-sign"></i></span></a>
                                <a href="http://www.imdb.com/name/nm7072874/" class="teamlink" title="IMDb"><span><i class="icon-film"></i></span></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img src="https://www.xn--teaterndsverk-ufb.no/uploads/images/thumbs/Takefolket2.jpg" alt="Anne-Marie Adriansen" />
                            </div>
                            <div class="carousel_body">
                              <h6>Anne-Marie Adriansen</h6>
                              <div class="op">Multikunstner</div>
                              <div class="team_desc">Anne-Marie er en person som absolutt fortjener en beskrivelse.</div>
                              <div class="team_icons_wrapper">
                                <a href="https://www.linkedin.com/pub/anne-marie-adriansen/b0/251/650" class="teamlink" title="LinkedIn"><span><i class="icon-linkedin-sign"></i></span></a>
                                <a href="http://www.imdb.com/name/nm7072874/" class="teamlink" title="IMDb"><span><i class="icon-film"></i></span></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img src="https://www.xn--teaterndsverk-ufb.no/uploads/images/thumbs/Takefolket2.jpg" alt="Anne-Marie Adriansen" />
                            </div>
                            <div class="carousel_body">
                              <h6>Anne-Marie Adriansen</h6>
                              <div class="op">Multikunstner</div>
                              <div class="team_desc">Anne-Marie er en person som absolutt fortjener en beskrivelse.</div>
                              <div class="team_icons_wrapper">
                                <a href="https://www.linkedin.com/pub/anne-marie-adriansen/b0/251/650" class="teamlink" title="LinkedIn"><span><i class="icon-linkedin-sign"></i></span></a>
                                <a href="http://www.imdb.com/name/nm7072874/" class="teamlink" title="IMDb"><span><i class="icon-film"></i></span></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img src="https://www.xn--teaterndsverk-ufb.no/uploads/images/thumbs/Takefolket2.jpg" alt="Anne-Marie Adriansen" />
                            </div>
                            <div class="carousel_body">
                              <h6>Anne-Marie Adriansen</h6>
                              <div class="op">Multikunstner</div>
                              <div class="team_desc">Anne-Marie er en person som absolutt fortjener en beskrivelse.</div>
                              <div class="team_icons_wrapper">
                                <a href="https://www.linkedin.com/pub/anne-marie-adriansen/b0/251/650" class="teamlink" title="LinkedIn"><span><i class="icon-linkedin-sign"></i></span></a>
                                <a href="http://www.imdb.com/name/nm7072874/" class="teamlink" title="IMDb"><span><i class="icon-film"></i></span></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img src="https://www.xn--teaterndsverk-ufb.no/uploads/images/thumbs/Takefolket2.jpg" alt="Anne-Marie Adriansen" />
                            </div>
                            <div class="carousel_body">
                              <h6>Anne-Marie Adriansen</h6>
                              <div class="op">Multikunstner</div>
                              <div class="team_desc">Anne-Marie er en person som absolutt fortjener en beskrivelse.</div>
                              <div class="team_icons_wrapper">
                                <a href="https://www.linkedin.com/pub/anne-marie-adriansen/b0/251/650" class="teamlink" title="LinkedIn"><span><i class="icon-linkedin-sign"></i></span></a>
                                <a href="http://www.imdb.com/name/nm7072874/" class="teamlink" title="IMDb"><span><i class="icon-film"></i></span></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="clear"></div>
              </div><!-- .module_cont -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

