<div class="page_title_block pb10">
  <div class="container">
    <h1 class="title">Ensemble</h1>
  </div>
</div>

<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>
<div class="container">
  <div class="content_block row no-sidebar">
    <div class="fl-container span12">
      <div class="row">
        <div class="posts-block span12">
          <div class="contentarea">
            <div class="row">
              <div class="span12 pb40 module_cont module_team">
                <div class="team_slider">
                  <div class="carouselslider teamslider items3">
                    <ul class="item_list">
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img class="portrait" src="/uploads/images/thumbs/Kine.jpg" alt="Kine Marie Øglend" />                            </div>
                            <div class="carousel_body">
                              <h6>Kine Marie Øglend</h6>
                              <div class="op">Skuespiller, regissør og manusforfatter</div>
                              <div class="team_desc">Kine er utdannet skuespiller ved NISS. Hun spilte Skyld i Tåkefolket og har regi og manus for I de beste hjem.</div>
                              <div class="team_icons_wrapper">
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block">                            </div>
                            <div class="carousel_body">
                              <h6>Anne-Marie Adriansen</h6>
                              <div class="op">Skuespiller, regissør og manusforfatter</div>
                              <div class="team_desc">Anne-Marie er utdannet skuespiller ved NISS og the Royal Conservatoire of Scotland. Hun spilte Fibrous i Tåkefolket.</div>
                              <div class="team_icons_wrapper">
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img class="portrait" src="/uploads/images/thumbs/StineR.jpg" alt="Stine Randby" />                            </div>
                            <div class="carousel_body">
                              <h6>Stine Randby</h6>
                              <div class="op">Skuespiller</div>
                              <div class="team_desc">Stine er utdannet skuespiller ved NISS. Hun spilte Uncinus i Tåkefolket og er aktuell som Eirin i I de beste hjem.</div>
                              <div class="team_icons_wrapper">
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block">                            </div>
                            <div class="carousel_body">
                              <h6>Stine Sørensen</h6>
                              <div class="op">Skuespiller</div>
                              <div class="team_desc">Stine er utdannet skuespiller ved NISS. Hun spilte Apati i Tåkefolket og er aktuell som Miriam i I de beste hjem.</div>
                              <div class="team_icons_wrapper">
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img class="portrait" src="/uploads/images/thumbs/Martin.jpg" alt="Martin Krane Pedersen" />                            </div>
                            <div class="carousel_body">
                              <h6>Martin Krane Pedersen</h6>
                              <div class="op">Skuespiller</div>
                              <div class="team_desc">Martin er utdannet skuespiller ved NISS og HiNT. Han spilte Fibrous i Tåkefolket.</div>
                              <div class="team_icons_wrapper">
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img class="portrait" src="/uploads/images/thumbs/Marie.jpg" alt="Marie Ballangrud Borgli" />                            </div>
                            <div class="carousel_body">
                              <h6>Marie Ballangrud Borgli</h6>
                              <div class="op">Skuespiller</div>
                              <div class="team_desc">Marie er utdannet skuespiller ved NISS. Hun spilte Skam i Tåkefolket.</div>
                              <div class="team_icons_wrapper">
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img class="landscape" src="/uploads/images/thumbs/Sarah.jpg" alt="Sarah Benfaddoul" />                            </div>
                            <div class="carousel_body">
                              <h6>Sarah Benfaddoul</h6>
                              <div class="op">Skuespiller</div>
                              <div class="team_desc">Sarah er utdannet skuespiller ved NISS. Hun spilte Tim i Tåkefolket.</div>
                              <div class="team_icons_wrapper">
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img class="portrait" src="/uploads/images/thumbs/Elg.jpg" alt="Elg Elgesem" />                            </div>
                            <div class="carousel_body">
                              <h6>Elg Elgesem</h6>
                              <div class="op">Skuespiller, regissør og manusforfatter</div>
                              <div class="team_desc">Elg er utdannet skuespiller ved NISS. Han hadde regi og manus for Tåkefolket og er aktuell som Halvor i I de beste hjem.</div>
                              <div class="team_icons_wrapper">
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block">                            </div>
                            <div class="carousel_body">
                              <h6>Liv Engdal Larsen</h6>
                              <div class="op">Skuespiller</div>
                              <div class="team_desc">Liv er utdannet skuespiller ved NISS. Hun spilte Hanna i Tåkefolket.</div>
                              <div class="team_icons_wrapper">
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img class="portrait" src="/uploads/images/thumbs/Frikk.jpg" alt="Frikk Hellvik" />                            </div>
                            <div class="carousel_body">
                              <h6>Frikk Hellvik</h6>
                              <div class="op">Skuespiller</div>
                              <div class="team_desc">Frikk er utdannet skuespiller ved NISS. Han spilte Far / Kaptein Stratos i Tåkefolket og er aktuell som Martin i I de beste hjem.</div>
                              <div class="team_icons_wrapper">
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img class="portrait" src="/uploads/images/thumbs/Anne-Lise.jpg" alt="Anne-Lise Henningsen" />                            </div>
                            <div class="carousel_body">
                              <h6>Anne-Lise Henningsen</h6>
                              <div class="op">Skuespiller</div>
                              <div class="team_desc">Anne-Lise er utdannet skuespiller ved the Kogan Academy of Dramatic Arts. Hun spilte Aurora / Regnbue i Tåkefolket og er aktuell som Mona i I de beste hjem.</div>
                              <div class="team_icons_wrapper">
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block">                            </div>
                            <div class="carousel_body">
                              <h6>Tobias Løyning</h6>
                              <div class="op">Skuespiller</div>
                              <div class="team_desc">Tobias er utdannet skuespiller ved NISS. Han er aktuell som Lars i I de beste hjem.</div>
                              <div class="team_icons_wrapper">
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img class="landscape" src="/uploads/images/thumbs/Simon.jpg" alt="Simon Solhoff" />                            </div>
                            <div class="carousel_body">
                              <h6>Simon Solhoff</h6>
                              <div class="op">Skuespiller</div>
                              <div class="team_desc">Simon er utdannet skuespiller ved NISS. Han spilte General Sorg i Tåkefolket og er aktuell som Kenneth i I de beste hjem.</div>
                              <div class="team_icons_wrapper">
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block">                            </div>
                            <div class="carousel_body">
                              <h6>Marit Torhaug Jensen</h6>
                              <div class="op">Skuespiller</div>
                              <div class="team_desc">Marit er utdannet skuespiller ved NISS.</div>
                              <div class="team_icons_wrapper">
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img class="portrait" src="/uploads/images/thumbs/Morten.jpg" alt="Morten Minde Neergaard" />                            </div>
                            <div class="carousel_body">
                              <h6>Morten Minde Neergaard</h6>
                              <div class="op">Utvikler</div>
                              <div class="team_desc">Morten har laget denne siden for oss.</div>
                              <div class="team_icons_wrapper">
                                <a href="https://www.facebook.com/mmneergaard" class="teamlink" title="Facebook"><span><i class="fa fa-facebook-square"></i></span></a>
                                <a href="https://www.linkedin.com/in/morten-neergaard-bb35273" class="teamlink" title="LinkedIn"><span><i class="fa fa-linkedin-square"></i></span></a>
                                <a href="https://twitter.com/xim_____" class="teamlink" title="Twitter"><span><i class="fa fa-twitter"></i></span></a>
                                <a href="https://plus.google.com/u/0/+MortenMindeNeergaard" class="teamlink" title="Google+"><span><i class="fa fa-google-plus-official"></i></span></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="clear"></div>
              </div><!-- .module_cont -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p><br /></p>
<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>

