<div class="page_title_block pb10">
  <div class="container">
    <h1 class="title">Om oss</h1>
  </div>
</div>

<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>
<p>
<div class="float_right" style="float: right">
<div class="blog_post_image"><img alt="Teater Åndsverk" src="https://www.xn--teaterndsverk-ufb.no/uploads/images/Logo_farge.jpg" style="width:300px;margin-right:1em" title="Teater Åndsverk" /></div>
</div> Teater Åndsverk er et fritt og allsidig teaterkompani som ble startet høsten 2014. Vi består av skuespillere og regissører med ulik bakgrunn og erfaring. Vi trener innen flere sjangre og eksperimenterer med forskjellige teorier. I senere tid har vi foksuert på Chubbuck-teknikken.</p>
<div style="height: 1em;" class="clear"></div>

