<h2>OM OSS</h2>
<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>
<p>Teater Andsverk er et fritt og allsidig teaterkompani bestående av skuespillere med ulik bakgrunn og erfaring. Vi trener innenfor ulike sjangre og eksperimenterer med forskjellige teorier.</p>
<h2>VÅRE STØTTESPILLERE</h2>
<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>
<p>Teater Åndsverk hadde knapt nok vært til uten våre mange gode støttespillere som vi er evig takknemlig for!</p>

