<h2>OM OSS</h2>
<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>
<p>Teater Åndsverk er et fritt og allsidig teaterkompani som ble startet høsten 2014. Vi består av skuespillere, regissører og andre teaterfolk med ulik bakgrunn og erfaring. Vi trener innen ulike sjangre og eksperimenterer med forskjellige teorier, men i senere tid har vi foksuert en del på Chubbuck-teknikken.</p>
<p>Teater Åndsverk hadde knapt nok vært til uten våre mange gode støttespillere som vi er evig takknemlig for!</p>

