<h2>VÅRE PRODUKSJONER</h2>
<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>
<h3>I DE BESTE HJEM av Kine Mare Øglend</h3>
<p>
<div class="blog_post_image"><img alt="I de beste hjem2" src="http://andsverk.8d.no/uploads/images/Twitter-forside_I_de_beste_hjem.png" title="I de beste hjem2" /></div>
</p>
<p><br /></p>
<p>Premiere 9. desember 2016!</p>
<p><br /></p>
<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>
<h3>TÅKEFOLKET av Elg Elgesem</h3>
<p>
<div class="blog_post_image"><img alt="Tåkefolket3" src="http://andsverk.8d.no/uploads/images/Takefolket3.jpg" title="Tåkefolket3" /></div>
</p>
<p><br /></p>
<h4>Tåkefolket er en spennende, morsom, trist, fjollete, fantasifull og leken teaterforestilling for voksne og barn mellom 5 og 12 år.</h4>
<p><br /></p>
<blockquote>
<p>Vi følger søsknene Tim og Hanna fra en grå og deprimerende hverdag inn i en fantastisk skyverden hvor de får reise med Kaptein Stratos og hans mannskap ombord på flyvefartøyet Cumulus. Tim og Hanna må hjelpe Kaptein Stratos i hans kamp mot General Sorg som ligger på lur bak mørke skyer&hellip; og ved å hjelpe han bedrer de kanskje sin egen situasjon?</p>
<p><br /></p>
<p>Vi satt opp Tåkefolket for første gang på Oslo teatersenter november 2015, hvor vi spilte fire forestillinger for over 100 publikummere. Tåkeverdenen ble rigget opp igjen i februar i år og det ble et gledelig gjensyn med Tim og Hanna og co.</p>
</blockquote>
<p><br /></p>
<p>Skrevet og regissert av Elg Elgesem.<br />
Regikonsulent: Mads Henning Jørgensen</p>
<p><br /></p>
<p>Skuespillere:<br />
Tim - Sarah Benfaddoul<br />
Hanna - Liv Engdal Larsen<br />
Far / Kaptein Stratos - Frikk Hellvik<br />
Aurora / Regnbue - Anne-Lise Henningsen<br />
Uncinus - Stine Randby<br />
Fibrous – Anne-Marie Adriansen/Idun Daae Alstad/Martin Krane Pedersen<br />
General Sorg - Simon Solhoff<br />
Skyld - Marie Ballangrud Borgli<br />
Skam - Kine Marie Øglend</p>
<p><br /></p>
<p>Produsent - Sandra Bringsjord Pape<br />
Illustratør - Benjamin N. Rodahl<br />
Musikk - Espen Haagensli<br />
Sminke - Denise Aastøm<br />
Prosjektorkunst- Reidun Solvik</p>
<p><br /></p>
<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>

