<h6>VÅRE PRODUKSJONER</h6>
<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>
<p>I DE BESTE HJEM av Kine Mare Øglend</p>
<p>
<div class="blog_post_image"><img alt="I de beste hjem2" src="http://andsverk.8d.no/uploads/images/Twitter-forside_I_de_beste_hjem.png" title="I de beste hjem2" /></div>
</p>
<p>Premiere 9. desember 2016!</p>
<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>
<p>TÅKEFOLKET av Elg Elgesem</p>
<p>
<div class="blog_post_image"><img alt="Tåkefolket3" src="http://andsverk.8d.no/uploads/images/Takefolket3.jpg" title="Tåkefolket3" /></div>
</p>
<p>Tåkefolket er en spennende, morsom, trist, fjollete, fantasifull og leken teaterforestilling for voksne og barn mellom 5 og 12 år. Vi følger søsknene Tim og Hanna fra en grå og deprimerende hverdag inn i en fantastisk skyverden hvor de får reise med Kaptein Stratos og hans mannskap ombord på flyvefartøyet Cumulus. Tim og Hanna må hjelpe Kaptein Stratos i hans kamp mot General Sorg som ligger på lur bak mørke skyer&hellip; og ved å hjelpe han forbedrer de kanskje sin egen situasjon?</p>
<p>Vi satt opp Tåkefolket for første gang på Oslo teatersenter novemer 2015, hvor vi spilte fire forestillinger for over 100 publikummere. Tåkeverdenen ble rigget opp igjen i februar i år og det ble et gledelig gjensyn med Tim og Hanna og resten!</p>
<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>

