<h2>PRODUKSJONER</h2>
<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>
<h3><strong>I DE BESTE HJEM</strong></h3>
<h5>En morsom, mørk og ubehagelig forestilling i flue-perspektiv.</h5>
<h4><em>In the making! Soon to be born! LES: Urpremiere 9. desember 2016!</em></h4>
<p>
<div class="blog_post_image"><img alt="I de beste hjem2" src="https://www.xn--teaterndsverk-ufb.no/uploads/images/Twitter-forside_I_de_beste_hjem.png" title="I de beste hjem2" /></div>
</p>
<p><br /></p>
<h5>I en bygård i hovedstaden møter vi fire forskjellige familier hvor alle har sitt å stri med. Vi får et innblikk i deres hverdagsliv og hvordan omgivelsene påvirker dem på godt og vondt. Hva skjer egentlig innenfor husets fire vegger? Hvor godt kjenner vi våre nærmeste naboer?</h5>
<h5>Forestillingen spilles 9.-11. desember 2016 på Oslo teatersenter. Vel møtt!</h5>
<p><br /></p>
<blockquote>
<p>Manus, regi og produsent – Kine Marie Øglend<br />
Kunstnerisk veileder – Vera Holte<br />
Teknisk ansvarlig – Trude Alexandra Dambo<br />
Illustratør og PR – Anne-Marie Adriansen<br />
Sminke og foto – Denise Aastøm</p>
<p><br /></p>
<p>Skuespillere:<br />
Miriam – Stine Randby<br />
Eirin – Stine Sørensen<br />
Martin – Frikk Hellvik<br />
Elisabeth – Ellen Kristine Dehle<br />
Mona – Anne-Lise Henningsen<br />
Lars – Tobias Løyning<br />
Kenneth – Simon Solhoff<br />
Halvor – Elg Elgesem<br />
Signe – Anja Maria Svenkerud</p>
</blockquote>
<p><br /></p>
<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>
<h3><strong>TÅKEFOLKET</strong></h3>
<h5>En spennende, morsom, trist, fjollete, fantasifull og leken teaterforestilling for voksne og barn mellom 5 og 12 år.</h5>
<p><br /></p>
<p>
<div class="blog_post_image"><img alt="Tåkefolket3" src="https://www.xn--teaterndsverk-ufb.no/uploads/images/Takefolket3.jpg" title="Tåkefolket3" /></div>
</p>
<p><br /></p>
<h5>Vi følger søskenparet Tim og Hanna fra en grå og deprimerende hverdag med en trist og irritabel pappa inn i en fantastisk skyverden hvor de får reise med Kaptein Stratos og hans mannskap. Sammen må de hjelpe Kapteinen i hans kamp mot General Sorg som ligger på lur bak mørke skyer&hellip; og ved å hjelpe han bedrer de kanskje sin egen situasjon?</h5>
<h5>Tåkefolket ble satt opp for første gang på Oslo teatersenter november 2015, hvor vi spilte fire forestillinger for over 100 publikummere. Tåkeverdenen ble rigget opp igjen i februar i år og vi fikk et gledelig gjensyn med Tim og Hanna og co.</h5>
<p><br /></p>
<blockquote>
<p>Manus og regi – Elg Elgesem<br />
Regikonsulent – Mads Henning Jørgensen<br />
Produsent – Sandra Bringsjord Pape<br />
Illustratør – Benjamin N. Rodahl<br />
Musikk – Espen Haagensli<br />
Prosjektorkunst – Reidun Solvik<br />
Sminke og foto – Denise Aastøm</p>
<p><br /></p>
<p>Skuespillere:<br />
Tim – Sarah Benfaddoul<br />
Hanna – Liv Engdal Larsen<br />
Far / Kaptein Stratos – Frikk Hellvik<br />
Aurora / Regnbue – Anne-Lise Henningsen<br />
Uncinus – Stine Randby<br />
Fibrous – Anne-Marie Adriansen / Idun Daae Alstad / Martin Krane Pedersen<br />
General Sorg – Simon Solhoff<br />
Skyld – Marie Ballangrud Borgli<br />
Skam – Kine Marie Øglend</p>
</blockquote>
<p><br /></p>
<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>

