<div class="page_title_block pb10">
  <div class="container">
    <h1 class="title">Alle kodene du kan bruke, wow!</h1>
  </div>
</div>

<p>Dette bruker modifisert <a href="http://daringfireball.net/projects/markdown/dingus">Markdown</a></p>
<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>
<h2>Tekst</h2>
<ul>
<li>Du kan bruke symboler vha. direkte unicode-input – ♥ og ☺ f.eks!</li>
<li>Du kan også bruke tegnreferanser som &#128526; og &#128570;</li>
<li>Du kan legge <strong>fet</strong>, <em>kursiv</em>, <code>fastavstand</code> eller <del>utstreking</del> på ting.</li>
<li>Du kan lage overskrifter med #, ##, ###, ####, ##### eller ###### først på linjen.</li>
<li>Du man få &laquo;sitater&raquo; i stilen du vil&hellip;</li>
<li>&mdash; Og sitatstrek</li>
<li>Du kan tilogmed på den korrekte lengden på tallområde-indeling: 2009&ndash;2036</li>
<li>Linjebryting skjer nå naturlig:</li>
</ul>
<p>Rediger siden for å se hvordan<br />
dette funker!</p>
<div style="text-align: center">Sentrering av tekst</div>

<div style="text-align: right">Høyrestilling av tekst</div>

<p>Her er ett avsnitt.</p>
<div style="height: 1em;" class="clear"></div>

<p>Her er et til.</p>
<h2>Lenker og bilder</h2>
<p>Alle typer lenker kan lages, f.eks. <a href="mailto:mail@example.com">en e-postlenke</a> eller <a href="http://8d.no/">en ekstern lenke</a>.</p>
<p>Jeg har fikset det så du kan hente interne bilder uten å måtte skrive for mye. Disse skaleres automatisk på alle enheter, så om du åpner noe på mobil funker det OK selv med enorme bilder:</p>
<p>
<div class="blog_post_image"><img alt="" src="pngtest.jpg" title="Det gjør ikke noe at dette bildet er digert!" /></div>
</p>
<p>Hvis du ikke fyller inn alt-tekst (første delen) eller titteltelst (greiene i anførselstegn) så fyller den inn fra databasen:</p>
<p>
<div class="blog_post_image"><img alt="" src="404.jpg" /></div>
</p>
<p>Eksterne bilder:<br />
<div class="blog_post_image"><img alt="pusekatt" src="https://8d.no/Kamineko.jpg" title="Titteltekst, kommer opp når du holder musa over." /></div>
</p>
<p>Tokolonne-hack:</p>
<div class="container">
  <div class="content_block row no-sidebar">
    <div class="fl-container span12">
      <div class="row">
        <div class="posts-block span12">
          <div class="contentarea">
            <div class="row">
              <div class="span6 pb40 module_cont module_html">
                <div class="bg_title"><h3>Fargerikt!</h3></div>
                <div class="module_content">
                  <img src="/uploads/images/Logo_farge.jpg" alt="" title="" />
                </div>
              </div><!-- .module_cont -->
              <div class="span6 pb40 module_cont module_html">
                <div class="bg_title"><h3>Rent og pent!</h3></div>
                <div class="module_content">
                  <img src="/uploads/images/LOGO_GRA.jpg" alt="" title="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>

<div class="container">
  <div class="content_block row no-sidebar">
    <div class="fl-container span12">
      <div class="row">
        <div class="posts-block span12">
          <div class="contentarea">
            <div class="row">
              <div class="span6 pb40 module_cont module_html">
                <div class="module_content">
                  <img src="/uploads/images/Takefolket2.jpg" alt="" title="" />
                </div>
              </div><!-- .module_cont -->
              <div class="span6 pb40 module_cont module_html">
                <div class="module_content">
                  <p>Her kan man putte HTML</p><p><strong>Dessverre</strong> ikke så brukervennlig...</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>

<h2>Lister</h2>
<ul>
<li>Unummererte</li>
<li>Lister</li>
</ul>
<p>eller</p>
<ol>
<li>Nummererte</li>
<li>Lister</li>
</ol>
<p>eller</p>
<ul>
<li>En<ul>
<li>sabla</li>
</ul>
</li>
<li>eksotisk<ol>
<li>og</li>
<li>unødvendig</li>
<li><strong>blanding</strong></li>
</ol>
</li>
<li>av<ul>
<li>kompleks<ul>
<li>nøsting</li>
<li>av</li>
</ul>
</li>
</ul>
</li>
<li>slike.</li>
</ul>
<dl>
<dt>Definisjonsliste</dt>
<dd>Kan gi definisjoner av ting</dd>
<dt>Bruk</dt>
<dd>Ca. slik</dd>
<dd>Kan styles til ville h&hellip;</dd>
<dd>Så du kan bruke dette til å style CV-en, f.eks.</dd>
</dl>
<h2>Sitatblokker</h2>
<p>Hvis du har en større blokk som skal stå i fastavstand, med denne brytningen? Sikkert ikke nødvendig&hellip;</p>
<pre><code>A nice quote
fits well somewhere here
nonsensical
</code></pre>
<p>For en blokk med sitatmarkering:</p>
<blockquote>
<p>Dette er<br />
Et haiku-dikt uten<br />
majones</p>
</blockquote>
<h2>Separator</h2>
<p>Legg minst 3, gjerne flere, bindestrek eller understrek etter hverandre.</p>
<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>
<p>eller</p>
<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>
<h2>Slider</h2>
<p>Alle linjer med filnavn skal se nøyaktig slik ut: <code>'bildenavn.filtype',</code></p>
<p>Merk at bildene bør ha samme størrelse, ellers ser det rart ut!</p>
<div class="featured_image_full wrapped_img blog_post_image">
 <div class="slider-wrapper theme-default ">
   <div class="nivoSlider">
<img src="https://www.xn--teaterndsverk-ufb.no/uploads/images/Takefolket2.jpg" alt="Tåkefolket" title="Tåkefolket" />
<img src="https://www.xn--teaterndsverk-ufb.no/uploads/images/Leseprve.png" alt="Leseprøve I de beste hjem" title="Leseprøve I de beste hjem" />
<img src="https://www.xn--teaterndsverk-ufb.no/uploads/images/Facebook_forside_I_de_beste_hjem.png" alt="I de beste hjem" title="I de beste hjem" />
  </div>
 </div>
</div>

<h2>Video</h2>
<p>For å lage video, legg inn denne blokken. Justér height og lenken (endre biten «oT3mCybbhf0» til den ID-en du finner på youtube).</p>
<div class="pf_video_container blog_post_image wrapped_video"> <iframe width="100%" height="490" src="https://www.youtube.com/embed/oT3mCybbhf0?wmode=opaque" frameborder="0" allowfullscreen></iframe> </div>

<h2>Table</h2>
<table><tr><td><strong>Høyde:</strong> 165 cm.</td><td><strong>Kroppsbygging:</strong> Slank</td><td><strong>Øyne:</strong> Blå</td><td><strong>Hår:</strong> Blond</td></tr></table>

<table>
<thead>
<tr>
<th><strong>År</strong></th>
<th><strong>Rolle</strong></th>
<th><strong>Produksjon</strong></th>
<th><strong>Regissør</strong></th>
<th><strong>Kompani</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td>2016</td>
<td>Prank, Frøken Vera</td>
<td><em>Piratpappa og nøkkelen til Shambala</em></td>
<td>Anne-Marie Adriansen</td>
<td>OG Strømme</td>
</tr>
</tbody>
</table>
<h2>Venste- og høyrestilling</h2>
<p>
<div class="float_left" style="float: left">
<div class="blog_post_image"><img alt="I de beste hjem" src="https://www.xn--teaterndsverk-ufb.no/uploads/images/Instagram_I_de_beste_hjem.png" style="width:300px;margin-right:1em" title="I de beste hjem" /></div>
</div> Dette er en test av venstrestilling av bilde&hellip; Det kan kanskje være nyttig til å lage bilder med lengre tekster som flyter rundt, litt slik som i avisartikler. Kan godt hende man kan komme på andre ting det funker til, men det var tanken. Ved å snu de derre klammetingene blir de til høyrestilling.</p>
<p>Om man bryter til nytt avsnitt blir det slik. Neste greia er en «clear» som tvinger ting til å være under seg.</p>
<div style="height: 1em;" class="clear"></div>

<p>
<div class="float_left" style="float: left">
<div class="blog_post_image"><img alt="I de beste hjem" src="https://www.xn--teaterndsverk-ufb.no/uploads/images/Instagram_I_de_beste_hjem.png" style="width:300px;margin-right:1em" title="I de beste hjem" /></div>
</div>
<div class="float_right" style="float: right">
<div class="blog_post_image"><img alt="I de beste hjem" src="https://www.xn--teaterndsverk-ufb.no/uploads/images/Instagram_I_de_beste_hjem.png" style="width:300px;margin-left:1em" title="I de beste hjem" /></div>
</div> Dette er en test av &hellip; av noe tøys&hellip; Det kan kanskje være nyttig til å lage bilder med lengre tekster som flyter rundt, litt slik som i avisartikler. Kan godt hende man kan komme på andre ting det funker til, men det var tanken. Ved å snu de derre klammetingene blir de til høyrestilling.</p>
<p>Om man bryter til nytt avsnitt blir det slik.</p>

