<div class="page_title_block pb10">
  <div class="container">
    <h1 class="title">STEGET - et dansedrama</h1>
  </div>
</div>

<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>
<p>
<div class="blog_post_image"><img alt="Steget" src="/uploads/images/Steget2.jpg" title="Steget" /></div>
</p>
<p><br /></p>
<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>
<p><em>Etter en fatal trafikkulykke for mange år siden la Raymond danseskoene på hyllen for godt. Nå lever han et ensomt og tilbaketrukket liv, bak en mur av bøker i et gammelt antikvariat. Han vil helst ikke minnes sin fortid, men en dag kommer en ung danserinne inn døren med et brennende ønske om å lykkes som danser&hellip;</em></p>
<p><br /></p>
<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>
<blockquote>
<h4>en varm historie om en manns kamp ut av sorgen og tilbake til livet gjennom vennskap, kjærlighet og dansens terapeutiske kraft</h4>
</blockquote>
<p><br /></p>
<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>
<h4>OM FORESTILLINGEN:</h4>
<p><strong>Regissør:</strong> Kine Marie Øglend<br />
<strong>Koreograf:</strong> Anne-Lise Henningsen<br />
<strong>Lysdesigner:</strong> Jan Ivar Sønsterud, Nittedal-scene<br />
<strong>Lyddesigner:</strong> Simon Solhoff<br />
<strong>Kostymemaker:</strong> Anne-Lise Henningsen<br />
<strong>Illustratør:</strong> Anne-Marie Adriansen<br />
<strong>Maskør og fotograf:</strong> Maja Korbøl<br />
<strong>Filmfotograf for promoteringsfilm:</strong> Terje Huse<br />
<strong>Urpremiere:</strong> 09.06.2017, Oslo teatersenter<br />
<strong>Støttet av:</strong> Oslo teatersenter og Nittedal-scene</p>
<p><br /></p>
<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>
<h3>SKUESPILLERE:</h3>
<div class="container">
  <div class="content_block row no-sidebar">
    <div class="fl-container span12">
      <div class="row">
        <div class="posts-block span12">
          <div class="contentarea">
            <div class="row">
              <div class="span12 pb40 module_cont module_team">
                <div class="team_slider">
                  <div class="carouselslider teamslider items3">
                    <ul class="item_list">
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img class="landscape" src="/uploads/images/thumbs/Simon.jpg" alt=" Simon Solhoff" />                            </div>
                            <div class="carousel_body">
                              <h6> Simon Solhoff</h6>
                              <div class="op">Raymond</div>
                              <div class="team_desc"></div>
                              <div class="team_icons_wrapper">
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img class="portrait" src="/uploads/images/thumbs/Anne-Lise.jpg" alt="Anne-Lise Henningsen" />                            </div>
                            <div class="carousel_body">
                              <h6>Anne-Lise Henningsen</h6>
                              <div class="op">Henriette</div>
                              <div class="team_desc"></div>
                              <div class="team_icons_wrapper">
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img class="portrait" src="/uploads/images/thumbs/StineR.jpg" alt="Stine Randby" />                            </div>
                            <div class="carousel_body">
                              <h6>Stine Randby</h6>
                              <div class="op">Gunn</div>
                              <div class="team_desc"></div>
                              <div class="team_icons_wrapper">
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="clear"></div>
              </div><!-- .module_cont -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>

