<div class="page_title_block pb10">
  <div class="container">
    <h1 class="title">TÅKEFOLKET</h1>
  </div>
</div>

<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>
<p>
<div class="blog_post_image"><img alt="Tåkefolket" src="/uploads/images/Takefolket6.jpg" title="Tåkefolket" /></div>
</p>
<p><br /></p>
<h5><code>En spennende, trist, fjollete, fantasifull og leken teaterforestilling for voksne og barn mellom 5 og 12 år.</code></h5>
<h5><code>Vi følger søskenparet Tim og Hanna fra en grå og deprimerende hverdag inn i en fantastisk skyverden hvor de møter Kaptein Stratos og hans erkefiende General Sorg. En kaptein og en general som er slående lik deres egen pappa og den sorgen han bærer på... Tim og Hanna hjelper Kaptein Stratos i hans kamp mot fienden. Og ved å hjelpe han så blir kanskje pappaen deres litt mindre trist?</code></h5>
<h5><code>Tåkefolket ble satt opp på Oslo teatersenter november 2015 og februar 2016. Forestillingen ble spilt fem ganger for over 130 publikummere, og den var støttet av Oslo teatersenter og Nittedal-scene.</code></h5>
<p><br /></p>
<div class="container">
 <div class="content_block row no-sidebar">
  <div class="fl-container span12">
   <div class="row">
    <div class="posts-block span12">
     <div class="contentarea">
      <div class="row">
       <div class="span12 first-module module_cont module_portfolio">
        <div class="portfolio_block image-grid columns3" id="list">
         <div class="element portfolio_item">
          <div class="portfolio_item_wrapper">
           <div class="portfolio_item_img gallery_item_wrapper">
            <a href="/uploads/images/T1.jpg" class="no_ajax" data-size="1740x824">
             <img class="landscape" src="/uploads/images/thumbs/T1.jpg" alt="Tåkefolket" width="270" height="270">
             <div class="gallery_fadder"></div>
             <span class="gallery_ico"></span>
            </a>
           </div>
          </div>
         </div>
         <div class="element portfolio_item">
          <div class="portfolio_item_wrapper">
           <div class="portfolio_item_img gallery_item_wrapper">
            <a href="/uploads/images/T2.jpg" class="no_ajax" data-size="1740x2183">
             <img class="portrait" src="/uploads/images/thumbs/T2.jpg" alt="Tåkefolket" width="270" height="270">
             <div class="gallery_fadder"></div>
             <span class="gallery_ico"></span>
            </a>
           </div>
          </div>
         </div>
         <div class="element portfolio_item">
          <div class="portfolio_item_wrapper">
           <div class="portfolio_item_img gallery_item_wrapper">
            <a href="/uploads/images/T3.jpg" class="no_ajax" data-size="1740x921">
             <img class="landscape" src="/uploads/images/thumbs/T3.jpg" alt="Tåkefolket" width="270" height="270">
             <div class="gallery_fadder"></div>
             <span class="gallery_ico"></span>
            </a>
           </div>
          </div>
         </div>
         <div class="element portfolio_item">
          <div class="portfolio_item_wrapper">
           <div class="portfolio_item_img gallery_item_wrapper">
            <a href="/uploads/images/T5.jpg" class="no_ajax" data-size="1740x1221">
             <img class="landscape" src="/uploads/images/thumbs/T5.jpg" alt="Tåkefolket" width="270" height="270">
             <div class="gallery_fadder"></div>
             <span class="gallery_ico"></span>
            </a>
           </div>
          </div>
         </div>
         <div class="element portfolio_item">
          <div class="portfolio_item_wrapper">
           <div class="portfolio_item_img gallery_item_wrapper">
            <a href="/uploads/images/T7.jpg" class="no_ajax" data-size="1740x2315">
             <img class="portrait" src="/uploads/images/thumbs/T7.jpg" alt="Tåkefolket" width="270" height="270">
             <div class="gallery_fadder"></div>
             <span class="gallery_ico"></span>
            </a>
           </div>
          </div>
         </div>
         <div class="element portfolio_item">
          <div class="portfolio_item_wrapper">
           <div class="portfolio_item_img gallery_item_wrapper">
            <a href="/uploads/images/T8.jpg" class="no_ajax" data-size="1740x3212">
             <img class="portrait" src="/uploads/images/thumbs/T8.jpg" alt="Tåkefolket" width="270" height="270">
             <div class="gallery_fadder"></div>
             <span class="gallery_ico"></span>
            </a>
           </div>
          </div>
         </div>
         <div class="element portfolio_item">
          <div class="portfolio_item_wrapper">
           <div class="portfolio_item_img gallery_item_wrapper">
            <a href="/uploads/images/T9.jpg" class="no_ajax" data-size="1740x1044">
             <img class="landscape" src="/uploads/images/thumbs/T9.jpg" alt="Tåkefolket" width="270" height="270">
             <div class="gallery_fadder"></div>
             <span class="gallery_ico"></span>
            </a>
           </div>
          </div>
         </div>
         <div class="element portfolio_item">
          <div class="portfolio_item_wrapper">
           <div class="portfolio_item_img gallery_item_wrapper">
            <a href="/uploads/images/T10.jpg" class="no_ajax" data-size="1740x1087">
             <img class="landscape" src="/uploads/images/thumbs/T10.jpg" alt="Tåkefolket" width="270" height="270">
             <div class="gallery_fadder"></div>
             <span class="gallery_ico"></span>
            </a>
           </div>
          </div>
         </div>
         <div class="element portfolio_item">
          <div class="portfolio_item_wrapper">
           <div class="portfolio_item_img gallery_item_wrapper">
            <a href="/uploads/images/T11.jpg" class="no_ajax" data-size="1740x1102">
             <img class="landscape" src="/uploads/images/thumbs/T11.jpg" alt="Tåkefolket" width="270" height="270">
             <div class="gallery_fadder"></div>
             <span class="gallery_ico"></span>
            </a>
           </div>
          </div>
         </div>
         <div class="clear"></div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>

<div id="pswp_dialog" class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="pswp__bg"></div>
  <div class="pswp__scroll-wrap">
    <div class="pswp__container">
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
    </div>
    <div class="pswp__ui pswp__ui--hidden">
      <div class="pswp__top-bar">
        <div class="pswp__counter"></div>
        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
        <button class="pswp__button pswp__button--share" title="Share"></button>
        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
        <div class="pswp__preloader">
          <div class="pswp__preloader__icn">
            <div class="pswp__preloader__cut">
              <div class="pswp__preloader__donut"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
        <div class="pswp__share-tooltip"></div>
      </div>
      <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
      </button>
      <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
      </button>
      <div class="pswp__caption">
        <div class="pswp__caption__center"></div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
//<!--
function initPhotoSwipeFromDOM(gallerySelector) {
    function parseThumbnailElements(el) {
        var thumbElements = el.getElementsByClassName('portfolio_item_img'),
            numNodes = thumbElements.length,
            items = [],
            figureEl,
            linkEl,
            size,
            item;

        for (var i = 0; i < numNodes; i++) {
            figureEl = thumbElements[i];
            if (figureEl.nodeType !== 1)
                continue;

            linkEl = figureEl.children[0];
            size = linkEl.getAttribute('data-size').split('x');
            item = {
                src: linkEl.getAttribute('href'),
                w: parseInt(size[0], 10),
                h: parseInt(size[1], 10)
            };

            item.title = linkEl.children[2].innerHTML;
            item.msrc = linkEl.children[0].getAttribute('src');

            item.el = figureEl;
            items.push(item);
        }
        return items;
    }

    function closest(el, fn) {
        return el && (fn(el) ? el : closest(el.parentNode, fn));
    };

    function onThumbnailsClick(e) {
        e = e || window.event;
        e.preventDefault ? e.preventDefault() : e.returnValue = false;

        var eTarget = e.target || e.srcElement;

        var clickedListItem = closest(eTarget, function(el) {
            return (el.className && (el.className.indexOf('portfolio_item_img') != -1));
        });

        if (!clickedListItem)
            return;

        var clickedGallery = clickedListItem.parentNode.parentNode.parentNode,
            childNodes = clickedGallery.getElementsByClassName('portfolio_item_img'),
            numChildNodes = childNodes.length,
            nodeIndex = 0,
            index;

        for (var i = 0; i < numChildNodes; i++) {
            if (childNodes[i].nodeType !== 1)
                continue;

            if (childNodes[i] === clickedListItem) {
                index = nodeIndex;
                break;
            }
            nodeIndex++;
        }

        if (index >= 0)
            openPhotoSwipe(index, clickedGallery);
        return false;
    };

    function photoswipeParseHash() {
        var hash = window.location.hash.substring(1),
        params = {};

        if(hash.length < 5)
            return params;

        var vars = hash.split('&');
        for (var i = 0; i < vars.length; i++) {
            if(!vars[i])
                continue;

            var pair = vars[i].split('=');
            if(pair.length < 2)
                continue;

            params[pair[0]] = pair[1];
        }

        if (params.gid)
            params.gid = parseInt(params.gid, 10);

        return params;
    };

    function openPhotoSwipe(index, galleryElement, disableAnimation, fromURL) {
        var pswpElement = document.querySelectorAll('.pswp')[0],
            gallery,
            options,
            items;

        items = parseThumbnailElements(galleryElement);

        options = {
            history: false,
            galleryUID: galleryElement.getAttribute('data-pswp-uid'),
            getThumbBoundsFn: function(index) {
                var thumbnail = items[index].el.getElementsByTagName('img')[0],
                    pageYScroll = window.pageYOffset || document.documentElement.scrollTop,
                    rect = thumbnail.getBoundingClientRect();
                return {x:rect.left, y:rect.top + pageYScroll, w:rect.width};
            }
        };

        if (fromURL) {
            if (options.galleryPIDs) {
                for (var j = 0; j < items.length; j++) {
                    if (items[j].pid == index) {
                        options.index = j;
                        break;
                    }
                }
            } else {
                options.index = parseInt(index, 10) - 1;
            }
        } else {
            options.index = parseInt(index, 10);
        }

        if (isNaN(options.index))
            return;

        if (disableAnimation)
            options.showAnimationDuration = 0;

        gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);
        gallery.init();
    };

    // loop through all gallery elements and bind events
    var galleryElements = document.querySelectorAll(gallerySelector);

    for (var i = 0, l = galleryElements.length; i < l; i++) {
        galleryElements[i].setAttribute('data-pswp-uid', i+1);
        galleryElements[i].onclick = onThumbnailsClick;
    }

    var hashData = photoswipeParseHash();
    if (hashData.pid && hashData.gid)
        openPhotoSwipe(hashData.pid, galleryElements[hashData.gid-1], true, true);
}

initPhotoSwipeFromDOM('.image-grid');
//-->
</script>

<p><br /></p>
<h3>KUNSTNERISK TEAM:</h3>
<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>
<p>
<div class="float_right" style="float: right">
<div class="blog_post_image"><img alt="Tåkefolket" src="/uploads/images/Takefolket2.jpg" style="width:300px;margin-right:1em" title="Tåkefolket" /></div>
</div>
<code>Regi og manusforfatter: Elg Elgesem</code><br />
<code>Reikonsulent: Mads Henning Jørgensen</code><br />
<code>Produsent: Sandra Bringsfjord Pape</code><br />
<code>Illustratør: Benjamin N. Rodahl</code><br />
<code>Musikk/Komponist: Espen Haagensli</code><br />
<code>Prosjekterkunstner: Reidun Solvik</code><br />
<code>Maskør og fotograf: Denise Aastrøm</code></p>
<p><br /></p>
<h3>SKUESPILLERE:</h3>
<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>
<p><br /></p>
<div class="container">
  <div class="content_block row no-sidebar">
    <div class="fl-container span12">
      <div class="row">
        <div class="posts-block span12">
          <div class="contentarea">
            <div class="row">
              <div class="span12 pb40 module_cont module_team">
                <div class="team_slider">
                  <div class="carouselslider teamslider items3">
                    <ul class="item_list">
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img class="landscape" src="/uploads/images/thumbs/Sarah.jpg" alt="Sarah Benfaddoul" />                            </div>
                            <div class="carousel_body">
                              <h6>Sarah Benfaddoul</h6>
                              <div class="op">Tim</div>
                              <div class="team_desc"></div>
                              <div class="team_icons_wrapper">
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img class="landscape" src="/uploads/images/thumbs/Liv.jpg" alt="Liv Engdal Larsen" />                            </div>
                            <div class="carousel_body">
                              <h6>Liv Engdal Larsen</h6>
                              <div class="op">Hanna</div>
                              <div class="team_desc"></div>
                              <div class="team_icons_wrapper">
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img class="portrait" src="/uploads/images/thumbs/Frikk.jpg" alt="Frikk Hellvik" />                            </div>
                            <div class="carousel_body">
                              <h6>Frikk Hellvik</h6>
                              <div class="op">Far / Kaptein Stratos</div>
                              <div class="team_desc"></div>
                              <div class="team_icons_wrapper">
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img class="portrait" src="/uploads/images/thumbs/Anne-Lise.jpg" alt="Anne-Lise Henningsen" />                            </div>
                            <div class="carousel_body">
                              <h6>Anne-Lise Henningsen</h6>
                              <div class="op">Aurora / Regnbue</div>
                              <div class="team_desc"></div>
                              <div class="team_icons_wrapper">
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img class="portrait" src="/uploads/images/thumbs/StineR.jpg" alt="Stine Randby" />                            </div>
                            <div class="carousel_body">
                              <h6>Stine Randby</h6>
                              <div class="op">Uncinus</div>
                              <div class="team_desc"></div>
                              <div class="team_icons_wrapper">
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img class="portrait" src="/uploads/images/thumbs/Anne-Marie_5.jpg" alt="Anne-Marie Adriansen" />                            </div>
                            <div class="carousel_body">
                              <h6>Anne-Marie Adriansen</h6>
                              <div class="op">Fibrous</div>
                              <div class="team_desc"></div>
                              <div class="team_icons_wrapper">
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img class="portrait" src="/uploads/images/thumbs/Idun.jpg" alt=" Idun Daae Alstad" />                            </div>
                            <div class="carousel_body">
                              <h6> Idun Daae Alstad</h6>
                              <div class="op">Fibrous</div>
                              <div class="team_desc"></div>
                              <div class="team_icons_wrapper">
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img class="portrait" src="/uploads/images/thumbs/Martin.jpg" alt="Martin Krane Pedersen" />                            </div>
                            <div class="carousel_body">
                              <h6>Martin Krane Pedersen</h6>
                              <div class="op">Fibrous</div>
                              <div class="team_desc"></div>
                              <div class="team_icons_wrapper">
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img class="landscape" src="/uploads/images/thumbs/Simon.jpg" alt="Simon Solhoff" />                            </div>
                            <div class="carousel_body">
                              <h6>Simon Solhoff</h6>
                              <div class="op">General Sorg</div>
                              <div class="team_desc"></div>
                              <div class="team_icons_wrapper">
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img class="portrait" src="/uploads/images/thumbs/Kine.jpg" alt="Kine Marie Øglend" />                            </div>
                            <div class="carousel_body">
                              <h6>Kine Marie Øglend</h6>
                              <div class="op">Skyld</div>
                              <div class="team_desc"></div>
                              <div class="team_icons_wrapper">
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img class="portrait" src="/uploads/images/thumbs/Marie.jpg" alt="Marie Ballangrud Borgli" />                            </div>
                            <div class="carousel_body">
                              <h6>Marie Ballangrud Borgli</h6>
                              <div class="op">Skam</div>
                              <div class="team_desc"></div>
                              <div class="team_icons_wrapper">
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item_wrapper">
                          <div class="item">
                            <div class="img_block"><img class="portrait" src="/uploads/images/thumbs/StineS.jpg" alt="Stine Sørensen" />                            </div>
                            <div class="carousel_body">
                              <h6>Stine Sørensen</h6>
                              <div class="op">Apati</div>
                              <div class="team_desc"></div>
                              <div class="team_icons_wrapper">
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="clear"></div>
              </div><!-- .module_cont -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>

