<div class="page_title_block pb10">
  <div class="container">
    <h1 class="title">TEATERKURS</h1>
  </div>
</div>

<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>
<h5>Teaterkurs for liten, teaterkurs for stor?</h5>
<p>
<div class="float_left" style="float: left">
<div class="blog_post_image"><img alt="Teaterkurs" src="/uploads/images/teaterkurs1.jpg" style="width:400px;margin-right:1em" title="Teaterkurs" /></div>
</div> Teater Åndsverk tilbyr helgekurs og 5-dagers kurs i:</p>
<ul>
<li>Grunnleggende skuespillteknikk</li>
<li>Karakterbygging</li>
<li>Prosess fra idé til forestilling</li>
<li>Praktiske metoder for skuespillere</li>
</ul>
<p>Vi skreddersyr kurs etter ønske og tar utgangspunkt i lengde (timer/dager), antall deltakere og erfaring. Kursene tilpasses målgruppen, og vi lager kurs rettet mot både barn, ungdom og voksne.</p>
<p><br /><br />
<br /></p>
<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>
<h5>Hva kan du forvente?</h5>
<p>Målet med våre teaterkurs er å styrke &lsquo;det skapende mennesket&rsquo; - både alene og i samspill med andre. Gjennom lek, øvelser og scenearbeid vil deltakerne lære å gi og ta fokus og stole på egne kreative evner.</p>
<p><br /></p>
<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>
<h5>Hvem holder kurset?</h5>
<p>Kine Marie Øglend og Anne-Marie Adriansen er to skuespillere fra Stavanger. Vi har begge studert Skuespill ved NISS (Nordisk Institutt for Scene og Studio). Kine arbeider som teaterinstruktør for Sandnes Kulturskole, og har tidligere arbeidet som teaterinstruktør for Teateret Mitt, Frilynt Norge, Eidsvoll Amatørteater og Barnestasjonen. Hennes favorittdyr er kanin og gris. Anne-Marie har tidligere arbeidet som teaterinstruktør for bl.a. Barnestasjonen og Junior- og barneorganisasjonen JUBA. Hennes favorittdyr er elefant.</p>
<p><br /></p>
<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>
<h5>Tidligere kurs</h5>
<p>Vi har tidligere holdt både sommerkurs og helgekurs. Sommeren 2019 holdt vi et 5-dagers kurs for Eidsvoll Amatørteater som resulterte i forestillingen &laquo;Piratene kommer&raquo; som ble spilt under Vannvittige dager i Eidsvoll, og høsten 2018 holdt vi kurs i skuespillerteknikk for ungdom under Rogalands Teaterråds Teaterhelg.</p>
<p><br /></p>
<div class="container">
  <div class="content_block row no-sidebar">
    <div class="fl-container span12">
      <div class="row">
        <div class="posts-block span12">
          <div class="contentarea">
            <div class="row">
              <div class="span6 pb40 module_cont module_html">
                <div class="module_content">
                  <img src="/uploads/images/teaterkurs5.jpg" alt="" title="" />
                </div>
              </div><!-- .module_cont -->
              <div class="span6 pb40 module_cont module_html">
                <div class="module_content">
                  <img src="/uploads/images/teaterkurs9.png" alt="" title="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>

<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>
<p><a href="https://www.teateråndsverk.no/kontakt.html"><strong>Ta kontakt</strong></a> ved interesse og få et uforpliktende tilbud  &#128570;</p>
<p><br /></p>
<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>

