<div class="page_title_block pb10">
  <div class="container">
    <h1 class="title">WORKSHOP</h1>
  </div>
</div>

<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>
<h5><code>Workshop for liten, workshop for stor?</code></h5>
<p>Teater Åndsverk tilbyr helgekurs og 5 -dagers workshop i skuespillteknikk. Vi skreddersyr våre workshop etter ønske og tema - ingen workshop er lik! Våre kurs tilpasses målgruppen, og vi lager kurs rettet mot både barn, ungdom og voksne.</p>
<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>
<h5><code>Hva kan du forvente?</code></h5>
<p>Målet med våre kurs er å styrke &lsquo;det skapende mennesket&rsquo; - både alene og i samspill med andre. Gjennom lek, øvelser og scenearbeid vil deltakerne lære å gi og ta fokus og stole på egne kreative evner på scenen.</p>
<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>
<h5><code>Hvem holder kurset?</code></h5>
<p>Kine Marie Øglend og Anne-Marie Adriansen er to gær&rsquo;ne skuespillere fra Stavanger! Begge har studert Skuespill ved NISS og begge er født i tigerens år. Kine har jobbet som teaterinstruktør for Frilynt Norge, Eidsvoll Amatørteater og Barnestasjonen. Hennes favorittdyr er hamster og gris. Anne-Marie har vært teaterinstruktør for Junior- og barneorganisasjonen JUBA. Hennes favorittdyr er elefant.</p>
<div class="row">
<div class="span12 pb10 module_cont">
<hr />
</div>
</div>

